
:root {
    --primary-color: rgb(25, 82, 126);
    --secondary-color: rgb(245, 148, 29);
    --accent1-color: rgb(150, 82, 126);
    --accent2-color: rgb(25, 173, 126);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)

}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    align-items: center;
}

nav {
    display: flex;
    list-style: none;
    flex: 1 1 auto;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;

}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 1rem;
    padding: .5rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 4rem;
    height: 4rem;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 1rem;
    border-radius: 10rem;
    font-size: 3rem;
    text-align: center;

}


.hero article {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--accent2-color);
    border-color: var(--secondary-color)
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff
}

