
:root {
    --primary-color: rgb(25, 82, 126);
    --secondary-color: rgb(245, 148, 29);
    --accent1-color: rgb(150, 82, 126);
    --accent2-color: rgb(25, 173, 126);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)

}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;

}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff
}

.hero article image {
    display: block;
    width: 100%;
    height: auto;
}
