:root {
    --primary-color: rgb(25, 82, 126);
    --secondary-color: rgb(245, 148, 29);
    --accent1-color: #773e63;
    --accent2-color: rgb(195, 231, 76);
    --bkcolor: #180b5b;
    --bkcolor-transparent: rgba(32, 12, 128, 0.424);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

p {
    color: var(--bkcolor);
}

img {
    width: 100%;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    justify-content: space-around;
}

header nav {
    display: flex;
    list-style: none;
}

header nav a {
    color: #f3f3f3;
    text-decoration: none;
    padding: 1em;
}

nav a:hover {
    background-color: #f3f3f3;
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 1rem;
    padding: .5rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e3e3e;
    color: #f3f3f3;
}

footer p {
    color: var(--accent2-color);
}

table {
    width: 100%;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: var(--bkcolor);
    color: white;
    font-weight: 700;

}

.socialmedia {
    display: inline-block;
}

.socialmedia a {
    text-decoration: none;
    
}
.socialmedia a:hover {
    background-color: unset;
}

.socialmedia img {
    width: 4rem;
    height: 4rem;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 10em;
    transform: translate(-50%, -50%);
    background-color: var(--bkcolor-transparent);
    color: var(--accent2-color);
    padding: 1rem;
    border-radius: 2rem;
    font-size: 3rem;
    text-align: center;

}


.hero article {
    align-items: center;
    position: absolute;
    top: 23rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--accent2-color);
    border-color: var(--secondary-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    display: block;
    width: 25%;
    height: auto;
    align-items: center;
}


.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1em;
}

.history h2 {
    grid-column: 1/-1;
    text-align: center;
}

.adventure {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1em;

}

.adventure img {
    width: 100%;
    height: auto;
}

.adventures {
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.adventures h2 {
    grid-column: 1/6;
    justify-self: center;
}

figcaption {
    text-align: center;
}

.contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}

.contact-info {
    grid-column: 1 / -1;
    text-align: center;
}

.gmap {
    border: 0;
    grid-column: 1 / -1;
    grid-row: 2;
    width: 400px;
    height: 400px;
}

.contact-form {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    align-items: center;
}

.purpose {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    align-items: center;
}

.purpose p {
    margin: 0;
    padding: 0;
    grid-column: 1;
    justify-self: start;
}

.purpose fieldset {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1.25rem auto;
    gap: .5rem .25rem;
    border: none;
}

.full-w {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
}

.subscribe {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    gap: .5rem;

}

.btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;

}

.btn-submit {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 1.25rem;
    font-weight: bold;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: white;
}

.employees {
    grid-column: 1/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

}

.employee figure {
    width: 300px;
    justify-self: center;
}

.employee img {
    width: 100%;
}

.employees h2 {
    grid-column: 1 / -1;
    justify-self: center;
}

.newsletter {
    width: 20em;
    margin: 2em auto;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1em;
}

.newsletter p {
    grid-column: 1 / -1;
    justify-self: center;
    margin: 0;
    padding: 0;
}

.cta {
    background-color: var(--bkcolor);
    color: #fefefe;
    padding: 1em;
    border-radius: 1em;
    margin: 3em auto;
    display: block;
    width: fit-content;
}

.hp-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.trips {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1em;
}

.trips h1,
.trips h2 {
    grid-column: 1/-1;
    text-align: center;
}

.triptable h2 {
    padding: 1rem;
    text-align: center;
}