*, *::before, *::after {
    box-sizing: border-box;
}

main {
    width: 700px;
    margin: 0 auto;
    background-color: #d3d3d3;
}

fieldset {
    border: solid #000000;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    padding: 0 10px;
}

input, select, textarea {
    font-size: 1.25em;
    margin: 5px 0px;
    padding: 5px;
    width: 100%;
}

.code {
    background-color: rgb(81, 80, 80);
    color: #f0f0f0;
    font-family: monospace;
    padding: 10px 5px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}

.number {
    font-weight: bold;
    font-size: 2em;
    color:;
    font-style: italic;
}

button {
    font-size: 1.25em;
    padding: 2em;
    background-color: darkblue;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}